@page "/announcement/create"
@using RealEstate.Web.Models
@using RealEstate.Web.Models.Enums
@inject HttpClient Http


<EditForm Model="@_announcementRequestModel" OnValidSubmit="HandleValidSubmitAsync">


<div class="container">

<div class="card-body">
    <div class="column">
        <div class="card">
            <div class="card-body form-control">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label comic-sans-bold">Titlu</label>
                    <div class="col-sm-10">
                        <InputText class="form-control" id="title" @bind-Value="@_announcementRequestModel.Title"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
<div class="col-md-6">
    <!-- First column content -->
    <div class="card">
        <div class="card-body">
            <!-- Your form fields for the first column -->

            <!-- Add more form fields as needed -->
            @* Coloana 1, Element 2 *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Pret (EUR):</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="price" placeholder="" @bind-Value="@_announcementRequestModel.Property.Price"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 3: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Numar canere:</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="roomsNumber" placeholder="" @bind-Value="@_announcementRequestModel.Property.RoomsNumber"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 4: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">An constructie: </label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="constructionYear" placeholder="" @bind-Value="@_announcementRequestModel.Property.ConstructionYear"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 5: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Numar etaje: </label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="numarEtaje:" placeholder="" @bind-Value="@_announcementRequestModel.Property.FloorsTotalNumber"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 6: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Etajul apartamentului: </label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="apartamentFloor" placeholder="" @bind-Value="@_announcementRequestModel.Property.ApartamentFloor"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @* Coloana 1, Element 7: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Suprafata utila locuinta:</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="houseUsableArea" placeholder="" @bind-Value="@_announcementRequestModel.Property.HouseUsableArea"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 8: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Suprafata totala locuinta:</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="houseTotalArea" placeholder="" @bind-Value="@_announcementRequestModel.Property.HouseTotalArea"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 9: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Lift: </label>
                            <div class="col-sm-10">
                                <InputCheckbox id="elevator" placeholder="" @bind-Value="@_announcementRequestModel.Property.Elevator"></InputCheckbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 10: *@


            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Localitate:</label>
                            <div class="col-sm-10">
                                <InputText class="all-form-control" id="locality" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.Locality"></InputText>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 11: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Etaj:</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="floors" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.Floors"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 12: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Scara:</label>
                            <div class="col-sm-10">
                                <InputText class="all-form-control" id="scale" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.Scale"></InputText>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Coloana 1, Element 13: *@
            <div class="column">
                <div class="card">
                    <div class="card-body form-control">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label comic-sans-bold">Numarul apartamentului:</label>
                            <div class="col-sm-10">
                                <InputNumber class="all-form-control" id="apartamentNumber" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.AppartamentNumber"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="col-md-6"> *@
<!-- Second column content -->
<div class="col-md-6">
<!-- First column content -->
<div class="card">
<div class="card-body">
<!-- Your form fields for the first column -->

<!-- Add more form fields as needed -->
@* Coloana 1, Element 2 *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Data Inceput:</label>
                <div class="col-sm-10">
                    <InputDate class="all-form-control" id="startDate" placeholder="" @bind-Value="@_announcementRequestModel.StartDate"></InputDate>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more form fields as needed -->
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Data sfarsit:</label>
                <div class="col-sm-10">
                    <InputDate class="all-form-control" id="endDate" placeholder="" @bind-Value="@_announcementRequestModel.EndDate"></InputDate>
                </div>
            </div>
        </div>
    </div>
</div>

@*  Coloana 2, Element 3: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Numar bai:</label>
                <div class="col-sm-10">
                    <InputNumber class="all-form-control" id="bathroomsNumber" placeholder="" @bind-Value="@_announcementRequestModel.Property.BathroomsNumber"></InputNumber>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 4: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Suprafata teren:</label>
                <div class="col-sm-10">
                    <InputNumber class="all-form-control" id="landArea" placeholder="" @bind-Value="@_announcementRequestModel.Property.LandArea"></InputNumber>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 5: *@

<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Detalii:</label>
                <div class="col-sm-10">
                    <InputText class="all-form-control" id="details" placeholder="" @bind-Value="@_announcementRequestModel.Property.Details"></InputText>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 6: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Tip de proprietate:</label>
                <div class="col-sm-10">
                    <InputSelect id="propertyType" @bind-Value="@_announcementRequestModel.Property.PropertyType">
                        @foreach (var propertyType in Enum.GetValues<PropertyType>())
                        {
                            <option value="@propertyType">@propertyType</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 7: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Detalii teren:</label>
                <div class="col-sm-10">
                    <InputSelect id="houseLandDetails" @bind-Value="@_announcementRequestModel.Property.HouseLandDetails">
                        @foreach (var houseLandDetails in Enum.GetValues<HouseLandDetails>())
                        {
                            <option value="@houseLandDetails">@houseLandDetails</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 8: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Sursa de incalzire:</label>
                <div class="col-sm-10">
                    <InputSelect id="heatingSource" @bind-Value="@_announcementRequestModel.Property.HeatingSource">
                        @foreach (var heatingSource in Enum.GetValues<HeatingSource>())
                        {
                            <option value="@heatingSource">@heatingSource</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 9: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Utilitati:</label>
                <div class="col-sm-10">
                    <InputSelect id="utilities" @bind-Value="@_announcementRequestModel.Property.Utilities">
                        @foreach (var utilities in Enum.GetValues<Utilities>())
                        {
                            <option value="@utilities">@utilities</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 10: *@

<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Strada:</label>
                <div class="col-sm-10">
                    <InputText class="all-form-control" id="street" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.Street"></InputText>
                </div>
            </div>
        </div>
    </div>
</div>
@* Coloana 2, Element 11: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Numarul strazii:</label>
                <div class="col-sm-10">
                    <InputNumber class="all-form-control" id="streetNumber" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.StreetNumber"></InputNumber>
                </div>
            </div>
        </div>
    </div>
</div>

@* Coloana 2, Element 12: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Judet:</label>
                <div class="col-sm-10">
                    <InputText class="all-form-control" id="district" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.District"></InputText>
                </div>
            </div>
        </div>
    </div>
</div>

@* Coloana 2, Element 13: *@
<div class="column">
    <div class="card">
        <div class="card-body form-control">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label comic-sans-bold">Oras:</label>
                <div class="col-sm-10">
                    <InputText class="all-form-control" id="city" placeholder="" @bind-Value="@_announcementRequestModel.Property.Adress.City"></InputText>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-primary comic-sans-bold">Creeaza anunt</button>
</div>


</EditForm>


<br/>
<br/>
<FooterPage></FooterPage>

@code {
    private CreateAnnouncementRequestModel _announcementRequestModel = new();

    public async Task HandleValidSubmitAsync()
    {
        await Http.PostAsJsonAsync("announcement", _announcementRequestModel);
        _announcementRequestModel = new CreateAnnouncementRequestModel();
    }

}